## Arithmetic Operators

In [29]:
print("1 + 1 =", 1 + 1)                # addition
print("3 - 6 =", 3 - 6)                # subtraction
print("4 * 5 =", 4 * 5)                # multiplication                    
print("5 raised to 2 equals", 5 ** 2)  # power / exponential
print("20 / 5 =", 20 / 5)              # division
print("20 / 6 =", 20 / 6)              # division always returns a float
print("20 % 6 =", 20 % 6)              # modulus / remainder
print("20 // 6 = ", 20 // 6)           # double division (6 goes into 20 three times)

1 + 1 = 2
3 - 6 = -3
4 * 5 = 20
5 raised to 2 equals 25
20 / 5 = 4.0
20 / 6 = 3.3333333333333335
20 % 6 = 2
20 // 6 =  3

#### Arithmetic Operators with Strings

- Use `+` for concatenating strings.

In [7]:
'string 1 ' + 'string 2'

'string 1 string 2'

- Use `*` for duplicating strings according the the number of times specified, and concatenating them at the same time.

In [8]:
'- string 1 - ' * 4

'- string 1 - - string 1 - - string 1 - - string 1 - '

- Can't concatenate values of different data types using `+`

In [9]:
' 1' + 4

TypeError: can only concatenate str (not "int") to str

#### Arithmetic Operators with Lists

- Use `+` to concatenate lists.

In [34]:
my_list = [1,2,3]
other_list = [4,5,6]

new_list = my_list + other_list
new_list

[1, 2, 3, 4, 5, 6]

- Use `*` to duplicate and concatenate

In [35]:
new_list = my_list * 3
new_list

[1, 2, 3, 1, 2, 3, 1, 2, 3]

## Relational / Comparison Operators

In [39]:
# Comparison operators
print(f"3 == 3: {3 == 3}")
print(f"3 != 3: {3 != 3}")
print(f"4 < 5: {4 < 5}") 
print(f"4 > 5: {4 > 5}") 
print(f"4 <= 5: {4 <= 5}") 
print(f"4 >= 5: {4 >= 5}")

3 == 3: True
3 != 3: False
4 < 5: True
4 > 5: False
4 <= 5: True
4 >= 5: False

## Boolean / Logical Operators

#### Logical Operators `and`, `or`, `not`

In [36]:
print(f"True and True: {True and True}")
print(f"True and False: {True and False}")
print(f"True or False: {True or False}")
print(f"False or False: {False or False}")
print(f"not True: {not True}")
print(f"not False: {not False}")

True and True: True
True and False: False
True or False: True
False or False: False
not True: False
not False: True

#### *Value in set* Operators `is` and `is not`

In [32]:
x = 3
y = 4

if x is y:
    print("Wrong")
else:
    print("Correct")

if x is not y:
    print("Duh!")
else:
    print("serously?")

Correct
Duh!

#### Membership Operators `in` and `not in`

In [38]:
x = [1,2,3,4,5]
print(f"1 in [1,2,3,4,5]: {1 in x}")
print(f"10 not in [1,2,3,4,5]: {10 not in x}")

1 in [1,2,3,4,5]: True
10 not in [1,2,3,4,5]: True

In [26]:
'cat' not in 'my pet cat'

False

## Bitwise Operators

## Operator Precedence

- Always a good idea to **use parenthesis** to denote order of execution